/*@font-face {
  font-family: 'moon';
  src: url('http://stars.berkeley.edu/assets/fonts/Moon%20Light.otf');
}*/
@import url('https://fonts.googleapis.com/css?family=News+Cycle');

* {
  box-sizing: border-box;
  /*font-family: 'moon';*/
  font-family: 'News Cycle';
}

.wrapper {
  position: absolute;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border-bottom: thin solid black;
  left: 0;
  top: 0;
  text-align: right;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
  border-bottom: solid #fdb515 1px;
}

.burger{
  display: none;
}

.logo {
  position: fixed;
  width: 72.92px;
  float: left;
  height: auto;
  top: 8px;
  left: 30px;
  z-index: 21;
}

.star {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  float: right;
  position: relative;
  vertical-align: middle;
  color: #FDB515;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 15px;
  margin-right: 20px;
}

.tab {
  margin: 0 15px;
  display: inline-block;
  position: relative;
  color: #FDB515;
}

.tab a{
  text-decoration: none;
  color: #FDB515;
  cursor: pointer;
}

#tab2 {
  transform:scale(1.2);
  font-weight: bold;
}

.tab:not(#tab2):hover {
  transform:scale(1.2);
  transition: 200ms;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0;
}

.main-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background: url("../images/mountain.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.main-container:before {
content: '';
position: fixed;
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
width: 100%;
height: 100%;
left: 0;
top:  0;
z-index: 5;
}

.leader {
  position: relative;
  top: 100px;
  font-size: 40px;
  color: #FDB515;
  z-index: 10;
  letter-spacing: 2px;
}

.faces {
  position: relative;
  max-width: 960px;
  top: 25px;
  padding: 60px 0;
  z-index: 10;
  color: white;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.face {
  object-position: center;
  object-fit: cover;
  font-size: 20px;
  margin: 35 20px;
  width: 162px;
  height: 162px;
  border-radius: 80px;
  border: #FDB515 solid 4px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}

#f1 {
  background: url("../images/jordan.jpg");
  background-size: cover;
  background-position: center;
}

.name {
  position: relative;
  top: 160px;
  left: -25px;
  width: 206px;
  font-size: 20px;
  letter-spacing: 1.5px;
  padding: 5px;
  font-weight: bold;
}

#f2 {
  background: url("../images/adam.jpg");
  background-size: cover;
  background-position: center;
}

#f3 {
  background: url("../images/avyay.jpg");
  background-size: cover;
  background-position: center;
}

#f4 {
  background: url("../images/kevin.jpg");
  background-size: cover;
  background-position: center;
}

#f5 {
  background: url("../images/aaron.png");
  background-size: cover;
  background-position: center;
}

#f6 {
  background: url("../images/jacob.png");
  background-size: cover;
  background-position: center;
}

#f7 {
  background: url("../images/jia.jpg");
  background-size: cover;
  background-position: center;
}

#f8 {
  background: url("../images/grant.png");
  background-size: cover;
  background-position: center;
}

#f9 {
  background: url("../images/ryan.png");
  background-size: cover;
  background-position: center;
}

@keyframes fdsseq {
	100% { opacity: 1; }
}

.face {
	animation: fdsseq .2s forwards;
}

.face:nth-child(1) {
	animation-delay: .4s;
}

.face:nth-child(2) {
	animation-delay: .6s;
}

.face:nth-child(3) {
	animation-delay: .8s;
}

.face:nth-child(4) {
	animation-delay: 1s;
}

.face:nth-child(5) {
	animation-delay: 1.2s;
}

.face:nth-child(6) {
	animation-delay: 1.4s;
}

.face:nth-child(7) {
	animation-delay: 1.6s;
}

.face:nth-child(8) {
	animation-delay: 1.8s;
}

.circle {
  position: relative;
  opacity: 0;
  z-index: 15;
}

.description {
  position: absolute;
  top: -43px;
  width: 154px;
  height: 154px;
  border-radius: 75px;
  background-color: rgba(0,0,0,0.8);
  font-size: 25px;
}

.me {
  position: relative;
  margin:  0 auto;
  text-align: center;
  left: -26px;
  top: 10px;
  display:  inline-block;
  font-size: 13px;
  font-weight: 200;
  line-height: 18px;
  width: 210px;
}

.circle-hover {
  opacity:1;
  transition: 500ms;
}

.role {
  font-size: 16px;
  line-height: 140%;
  font-weight:bold;
}

.leads {
  position: relative;
  top: -25px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0 auto;
  color: #FDB515;
  z-index: 10;
  letter-spacing: 3px;
  border-bottom: #FDB515 2px solid;
  max-width: 760px;
  text-align: left;
  font-size: 15px;
}

.teamlead {
  position: relative;
  top: -25px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 0 auto;
  color: #FDB515;
  z-index: 10;
  letter-spacing: 3px;
  max-width: 760px;
  text-align: left;
  font-size: 15px;
}

.faces2 {
  position: relative;
  max-width: 960px;
  top: -40px;
  padding: 0px 0px;
  z-index: 10;
  color: white;
  margin: 0 auto;
  margin-bottom: -50px;
  display: block;
  text-align: center;
}

.ocf {
  position: relative;
  bottom: -100px;
  right: 0px;
  float: right;
  font-size: 8px;
  color: #FFFFFF;
  padding: 10px;
}

@media screen and (max-width: 900px) /* Mobile */ {

  .picture-maintext {
    top: calc(50% - 70px);
    left: calc(50% - 110px);
  }

  .logo {
    display: absolute;
  }

  .picture-text1 {
    padding-bottom: 25px;
    padding-right: 100px;
    letter-spacing: 7px;
    font-size: 35px;
    line-height: 40px;
  }

  .picture-text2 {
    color: #FDB515;
    font-size: 18px;
    letter-spacing: 4px;
    display: none;
    line-height: 25px;
  }

  .picture-text3 {
    font-weight: 400;
    font-size: 25px;
    display: none;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .ocf {
    float: right;
    font-size: 0.01in;
    font-weight: 100;
    color: #FFFFFF;
    padding: 5px;
    line-height: 7px;
  }

  .ocfpic {
    position:relative;
    margin-right: 2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    z-index: 9;
  }

  .face {
    font-size: 15px;
    width: 140px;
    height: 140px;
  }

  .faces {
    padding: 80px 20px;
  }

  .faces2 {
    padding: 60px 20px;
    padding-bottom: 0px;
    margin-top: -30px;
  }

  .leads {
    margin: 0 60px;
    margin-top: 0px;
  }

  .teamlead {
    margin: 0 60px;
    margin-bottom: -20px;
  }

  .description {
    width: 132px;
    height: 132px;
    font-size: 14px;
  }

  .name {
    top: 140px;
    left: -35px;
  }

  .me {
    font-size: 11px;
    left: -36px;
    top:0px;
  }

  .role{
    font-size: 14px;
  }

}

@media screen  and (max-width: 768px) /* Tablet */ {
  .burger-nav {
    display:block;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 1);
    top: 0;
    border-bottom: 1px solid #fdb515;
  }

  .logo {
    display: absolute;
    top: 7.5px;
    width: 58px;
    left: 10px;
    z-index: 21;
  }

  .burger {
    display: block;
    position: absolute;
    height: 20px;
    width: auto;
    right: 10px;
    top: 15px;
    cursor: pointer;
  }

  nav {
    left: 0;
    margin: 0;
    padding: 0;
    height: 0;
    z-index: 20;
    width: 100%;
  }

  header .wrapper {
    width: 100%;
    padding: 0;
    left: 0;
    margin: 0;
  }

  .tab{
    margin-left: 0;
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header nav ul{
    overflow: hidden;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 1);
  }

  header nav ul.open{
    height: auto;
    transition: 200ms ease-in;
  }

  header nav ul li{
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding-left: 0;
  }

  header nav ul li a{
    color: #fbd515;
    padding: 6.5px;
    padding-left: 20px;
    border-bottom: 1px solid #fdb515;
    display: block;
    margin: 0;
    font-size: 16px;
  }

  #tab2 {
    transform:scale(1);
  }

  .tab:not(#tab2):hover {
    transform:scale(1);
  }

  .leads {
    margin: 0 70px;
  }

  .teamlead {
    margin: 0 70px;
    margin-bottom: -10px;
  }

  .face {
    font-size: 15px;
    width: 120px;
    height: 120px;
  }

  .description {
    width: 112px;
    height: 112px;
    font-size: 14px;
  }

  .name {
    top: 120px;
    left: -47px;
  }

  .me{
    font-size: 9px;
    left: -47px;
    top:-5px;
    line-height: 12px;
  }

  .role {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) /* Mobile */ {

  .picture-maintext {
    top: calc(50% - 70px);
    left: calc(50% - 110px);
  }

  .logo {
    display: absolute;
  }

  .ocf {
    float: right;
    font-size: 0.01in;
    font-weight: 100;
    color: #FFFFFF;
    padding: 5px;
    line-height: 7px;
  }

  .ocfpic {
    position:relative;
    margin-right: 2px;
    bottom: -2px;
    width: 10px;
    height: 10px;
    z-index: 9;
  }

  .faces {
    padding: 80px 20px;
  }

  .faces2 {
    padding: 60px 20px;
    padding-bottom: 0px;
  }

  .leads {
    margin: 0 40px;
    margin-top: 10px;
  }

  .teamlead {
    margin: 0 40px;
    margin-bottom: -10px;
  }

}
